[submodule "themes/geekdoc"]
	path = themes/geekdoc
	url = https://github.com/thegeeklab/hugo-geekdoc.git
[submodule "themes/doks"]
	path = themes/doks
	url = https://github.com/h-enk/doks.git
[submodule "themes/doks-child"]
	path = themes/doks-child
	url = https://github.com/h-enk/doks-child-theme.git
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
